@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css";
@import "./base/utilities.css";

@import "./layout/header.css";
@import "./layout/navbar.css";
@import "./layout/footer.css";
@import "./layout/grid.css";

@import "./pages/auth.css";
@import "./pages/home.css";
@import "./pages/hero-slider.css";

@import "./admin/admin-badges.css";
@import "./admin/admin-dashboard.css";
@import "./admin/admin-forms.css";
@import "./admin/admin-header.css";
@import "./admin/admin-layout.css";
@import "./admin/admin-menu.css";
@import "./admin/admin-table.css";

@import "./components/alerts.css";
@import "./components/badges.css";
@import "./components/buttons.css";
@import "./components/dropdown.css";
@import "./components/pagination.css";
@import "./components/sections.css";
@import "./components/forms.css";